<app-cabecera>  </app-cabecera>


<section class="principal mt-5">
  <div class="container">
    <div class="row">
      
      <div class="col-md-3"  routerLink="/Juegos">     
        <div class="card bg-dark">
          <img src="../../../assets/imagenes/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-white">Juegos</h5>
            <p class="card-text text-white">Demostra tus habilidades y competi contra los mejores jugadores.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" routerLink="/Resultados">        
        <div class="card bg-dark">
          <img src="../../../assets/imagenes/2.jpg" class="card-img-top" alt="./assets/imagenes/conf.jpg">
          <div class="card-body">
            <h5 class="card-title text-white">Resultados</h5>
            <p class="card-text text-white">Listados de los resultados con ordenamiento y busqueda.</p>
          </div>
        </div>
      </div>    
      <div class="col-md-3" routerLink="/Juegos">        
        <div class="card bg-dark">
          <img src="../../../assets/imagenes/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-white">Configuracion</h5>
            <p class="card-text text-white">Ajustes de la aplicacion y los métodos de autentificación.</p>
          </div>
        </div>
      </div>    
      <div class="col-md-3" routerLink="/Jugadores">        
        <div class="card bg-dark">
          <img  class="card-img-top" src=".../../../assets/imagenes/4.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title text-white">Jugadores</h5>
            <p class="card-text text-white">Listado de los jugadores con su informacion y resultados.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>